html {
    @include mq('small') {
        font-size: 55%;
    }
    @include mq('medium') {
        font-size: 62.5%;
    } 
}
    
body {
    font: 1.6rem/1.5 Helvetica, sans-serif;
}

@media only screen and (max-width: 576px) {
    html {
        font-size: 45%;
    }   
} 