@media screen and (max-width: 576px) {
  html {
    font-size: 40%; } }

@media screen and (min-width: 576px) {
  html {
    font-size: 45%; } }

@media screen and (min-width: 992px) {
  html {
    font-size: 62.5%; } }

body {
  font: 1.6rem/1.5 Helvetica, sans-serif; }

.wrapper {
  display: grid;
  grid-template-columns: 2fr 7fr; }

#navbar {
  grid-area: 1/1/1/2;
  position: relative;
  background-color: #000;
  height: 100vh;
  overflow: scroll; }

#navbar header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%/9 *2);
  height: 8rem;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1000; }

#navbar ul li {
  list-style-type: none;
  padding: 10px;
  border-top: 1px solid #fff; }

#navbar ul {
  padding: 0;
  margin-top: 8rem; }
